/* playfair-display-italic - cyrillic_vietnamese_latin_latin-ext */

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('assets/fonts/playfair/PlayfairDisplay-Italic.eot');
  src: local('Playfair Display Italic'), local('PlayfairDisplay Italic'), local('PlayfairDisplay-Italic'),
      url('assets/fonts/playfair/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/playfair/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('assets/fonts/playfair/PlayfairDisplay-Italic.woff') format('woff'),
      url('assets/fonts/playfair/PlayfairDisplay-Italic.ttf') format('truetype'),
      url('assets/fonts/playfair/PlayfairDisplay-Italic.svg#PlayfairDisplay') format('svg');
  font-weight: 300;
}
